* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1 {
    text-transform: capitalize;
}

p.planet-profile {
    text-align: left;
}

.correct {
    background-color: green;
}

.correct-box {
    border: solid 5px green;
}

.incorrect {
    background-color: red;
}

.incorrect-box {
    border: solid 5px red;
}

.quiz-buttons {
    width: 30vh;
    height: 3vh;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #025fd8;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    margin: 20px;
}
.quiz-buttons:hover {
    border: 1px solid #007cad;
    background: rgba(79,79,79,1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  .quiz-buttons:active {
    border: 1px solid #018dc4;
    background: #00a6e8;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
    text-shadow: none;
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  .quiz-buttons:disabled {
    border: 1px solid grey;
    background: grey;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
    text-shadow: none;
  }

@media screen and (min-width: 0px) {
    body {
        min-height: 100vh;
        margin: 0px;
        padding: 0px;
        background: black;
        color: rgb(245, 245, 245);
        font-family: "Roboto", sans-serif;
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-rendering: optimizeLegibility;
        text-shadow: -1px -1px 0 rgba(83, 83, 83, 0.66);
    }

    header {
        text-align: center;
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .planet-picture {
        display: none;
    }

    p.planet-profile {
        padding: 1em;
    }

    .quiz-progress {
        display: flex;
        justify-content: space-between;
        padding: 1vh;
        align-items: center;
        background: #393939;
        flex-grow: 0;
    }

    .quiz-form {
        display: flex;
        flex-direction: column;
        background: rgb(109, 109, 109);
        flex-grow: 3;
    }

    .quiz-questions-answers {
        padding: 2vh;
        background: #d9d9d9;
        color: black;
        border-bottom: solid 1px black;
        border-top: solid 1px black;
    }

    .multiple-choice {
        display: flex;
        flex-direction: column;
        padding: 1vh;
    }

    .radio-labels {
        margin: 2vh;
    }

    .quiz-results {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
    }

    .quiz-control-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }

    .quiz-buttons {
        width: 50vw;
        height: 5vh;
    }

    .quiz-footer {
        display: flex;
        justify-content: space-evenly;
        background: black;
        margin-bottom: 0px;
        border-top: solid 1px white;
    }

    .social {
        width: 64px;
        height: 64px;
        padding: 10px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 1.7em;
    }

    .quiz-form{
        flex-grow: 1;
    }

    header {
        flex-grow: 1;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        margin-bottom: 5vh;
    }

    p.planet-profile {
        width: 300px;
        padding-left: 2vh;
    }

    .planet-picture {
        display: block;
        width: 200px;
        height: 200px;
        margin-top: 5vh;
    }
    .quiz-buttons {
        width: 30vh;
        height: 3vh;
    }

}

@media screen and (min-width: 1900px) {
    body {
        font-size: 1em;
        background: black url("solarsys.jpg");
        background-size: cover;
    }

    .quiz-form {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 350px;
        -webkit-box-shadow: 5px 10px 15px 5px #FFFFFF;
        box-shadow: 0 5px 15px 3px #FFFFFF;
        border: solid 1px #333333;
    }
}