* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width: 0px) {
    body {
        margin: 0px;
        padding: 0px;
        background: black;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        text-align: center;
        flex-grow: 2;
    }

    footer {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
    }

    .quiz-progress {
        display: flex;
        justify-content: space-between;
        padding: 1vh;
        align-items: center;
        background: #393939;
        flex-grow: 2;
    }

    .quiz-form {
        display: flex;
        flex-direction: column;
        background: rgb(109, 109, 109);
        min-height: 70vh;
        flex-grow: 5;
    }

    .quiz-questions-answers {
        padding: 2vh;
        background: #d9d9d9;
        color: black;
    }

    .multiple-choice {
        display: flex;
        flex-direction: column;
        padding: 1vh;
        margin-top: auto;
        margin-bottom: auto;
    }

    .radio-labels {
        margin: 2vh;
    }

    .quiz-control-buttons {
        display: flex;
        justify-content: space-between;
    }

    .quiz-buttons {
        width: 50%;
        height: 7vh;
    }
}